section
  .content
    h1#credits Credits
    p
    |First of all, there is no reason to hide but this site was inspired by and based on
    |<a href="http://koajs.com" target="_blank">Koa.js</a>'s site. I found it quite simple
    |and decided to learn and apply it towards gengo.js's site.

    p
    |gengo.js was made possible by Mashpie's <a href="https://github.com/mashpie/i18n-node" target="_blank">i18n</a>.
    |Some source code was borrowed in order for others who still want somewhat of a backward compatibility experience can
    |use gengo.js without much hassle. Unfortunatley, I cannot guarantee anything and I am limited in what I know and can
    |do.

    p
    |gengo.js was also made possible by Moment.js and Numeral.js.
    |It makes sense to incorporate these libraries in a middleware
    |that translates. I'm sure one of these days it would be put to good use
    |so it's there when you need it.

    h2 Fun Facts
    ul
      li I learned Javascript and Node.js in 1 year (still learning though).
      li It took 3 days to build v0.1 and 10 days to build v0.3.
      li This is my first open source project so please be kind.
      li
        |Thanks to Koa.js's site I built this site in 1 day.
        |Also, credits to express framework for building the simplest server on earth.
    br
    h2 Contribute
    p
    |For contribution, just simply Fork and Pull gengo.js. If you want to translate this site then please Fork and Pull
    |the site <a href="https://www.github.com/iwatakeshi/gengojs-site" target="_blank">here</a>. Thank you!
