section
  .content
    h1#installation Installation
    p
    |gengo.js has been tested in Windows and Linux and works best with Express 4 and Sails.js.
    |Once installed, gengo.js also includes two sample Sails.js apps that you can try.
    hr
    pre.language-bash
      code.
         #npm install
         sudo npm install gengojs --save

         #try a Sails.js app
         cd node_modules/gengojs/sails/ejs/ && sudo npm install
         #or
         cd node_modules/gengojs/sails/jade && sudo npm install
         #start it up!
         npm start #or 'sails lift' if Sails.js is installed
    hr
    h2 Initialize
    p
    |You can simply initialize gengo.js by requiring and configuring it. See Configuration.
    hr
    pre.language-javascript
      code.
        var gengo = require('gengojs');

        gengo.config({
            directory:__dirname + '/config/locales',
            default: 'en-us',
            supported: ['ja'],
            router: true
          });

        app.use(gengo.init);
    h2 Usage
    p gengo.js uses <code>__</code> but can be changed. See Configuration.
    h3 Example
    pre.language-javascript
      code.
        __('Hello'); // --> こんにちは
    .note.panel.panel-info
      .panel-heading Note
      .panel-body gengo.js can be used in a script tag and in most template engines.
        br
        br
        pre.language-markup
          code.
            &ltscript&gt
              $(document).ready(function(){
                alert("\!{__('Hello', 'ja')}"); // --> こんにちは
               });
            &lt/script&gt
