section
  .content
    h1#introduction Introduction
    p
    |gengo.js is an i18n middleware that simply translates your phrases.
    |It aims to ease the workflow by allowing you use three simple notations to access your definitions.
    |gengo also supports file extensions with .js and .json, routing, plurality, multi-line phrases, locale override using cookies,
    |Mustache.js, Kawari.js, Moment.js, and Numeral.js.
  .note.panel.panel-info
    .panel-heading
      | Note
    .panel-body
      p
      |gengo.js is fairly new and some features may or may not prove to be useful. Therefore, feedback is the most important way
      |to improve gengo.js.
