<section id="top">
  <!--toggle-->
  <div id="menu" class="animated bounceInDown"><a id="toggle" href="##"><i class="fa fa-bars"></i></a>
    <ul>
      <li><a href="#introduction">Introduction</a></li>
      <li><a href="#installation">Installation</a></li>
      <li><a href="#api">API</a></li>
      <li><a href="#configuration">Configuration</a></li>
      <li><a href="#dictionary">Dictionary</a></li>
      <li><a href="#credits">Credits</a></li>
    </ul>
  </div>
  <div id="globe" class="animated bounceInDown"><a id="toggle" href="##"><i class="fa fa-globe"></i></a>
    <ul>
      <li><a href="" class="en">English</a></li>
      <li><a href="" class="ja">Japanese</a></li>
      <li><a href="https://www.github.com/gengojs/site/" target="_blank">Fork</a></li>
    </ul>
  </div>
  <div id="heading" class="animated fadeInUp">
    <div id="logo"><%= title %> </div>
    <div id="tagline"> Under Construction! </div>
  </div>
  <div id="version" class="animated bounce">
    <div id="npm">1.0.0-alpha.3</div>
  </div>
</section>