<h1>Introduction</h1>
<div class="gengo">
<p><%= __("intro.p1") %></p>
</div>
<h2>Usage</h2>
<pre><code class="language-bash">#npm install
sudo npm install gengojs --save
</code></pre>
<h3>Initialize</h3>
<div class="gengo">
<p><%= __("intro.p2") %></p>
</div>
<h3>Express</h3>
<pre><code class="language-javascript">var gengo = require('gengojs');
var app = require('express')();

app.use(gengo({
	'backend': { 'directory': __dirname + '/config/locales' },
	'header' : { 'default': 'en-us', supported: ['ja'] },
	'router': { 'enabled': true }
}));
</code></pre>
<h3>Koa</h3>
<pre><code class="language-javascript">var gengo = require('gengojs/koa');
var app = require('koa')();

app.use(gengo({
	'backend': { 'directory': __dirname + '/config/locales' },
	'header' : { 'default': 'en-us', supported: ['ja'] },
	'router': { 'enabled': true }
}));
</code></pre>
<h3>Hapi</h3>
<pre><code class="language-javascript">var gengo = require('gengojs/hapi');
var server = new require('hapi').Server();

server.register(gengo({
	'backend': { 'directory': __dirname + '/config/locales' },
	'header' : { 'default': 'en-us', supported: ['ja'] },
	'router': { 'enabled': true }
}), function(error) {
  if (error) console.log('An error occurred: ' + error);
});
</code></pre>
