extends layout

block content
  header
    a(href="https://github.com/iwatakeshi/gengojs" target='_blank').animated.fadeIn
      img(style="position: fixed; top: 0; left: 0; border: 0;", src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png")
  //main section
  section#top
    //toggle
    #menu.animated.bounceInDown
      a#toggle(href='#')
        i.fa.fa-bars
      ul
        li
          a(href='#introduction') Introduction
        li
          a(href='#installation') Installation
        li
          a(href='#api') API
        li
          a(href='#configuration') Configuration
        li
          a(href='#dictionary') Dictionary
        li
          a(href='#credits') Credits
    #globe.animated.bounceInDown
      a#toggle(href='#')
        i.fa.fa-globe
      ul
        li
          a(href='#') English
        li
          a(href='#') Japanese
        li
          a(href='https://www.github.com/iwatakeshi/gengojs-site/' target="_blank") Fork
    #heading.animated.fadeInUp
      #logo= title
      #tagline the best i18n middleware for Express
    #version.animated.bounce
      #npm v0.3

  //sections
  include ./includes/intro
  include ./includes/install
  include ./includes/api
  include ./includes/config
  include ./includes/dictionary
  include ./includes/credit
  footer
    .row
      .col-lg-12
        .content
          ul.list-unstyled
            li.pull-right
              a(href='#top') Back to top
            li
              |This is an open source project licensed under MIT by
              |<a href="https://twitter.com/iwatakeshi" target="_blank">@iwatakeshi</a>
